@charset "utf-8";
{box-sizing: border-box;
}

body{
	background-color: black;
	margin: 0 ; 
	color:black;
	font:italic 20px/20px Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
div{
	background-color: white;
	width: 400px;
	padding: 20px;
	border border-left: 10px solid green;
		
	}


